.app-root {
    font-family: 'Roboto', sans-serif;
}

.app-root,
.container {
    height: 100%; 
    width: 100%; 
}

.container {
    background-color: desaturate(lighten($theme--color1, 15%), 10%);
    background-image:
    repeating-linear-gradient(120deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(255,255,255,.1) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.1) 75%, rgba(255,255,255,.1)),
    linear-gradient(120deg, rgba(255,255,255,.1) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.1) 75%, rgba(255,255,255,.1));
    background-size: 105px 180px;
}

header {
    width: 100%; 
    height: 105px;
    border-bottom: 2px solid $black;
    position: relative;
    background: $darkBlack;
    .circle-photo,
    h2 {
        position: absolute;
    }
    .circle-photo {
        background: url(../images/me_juicebox.jpg);
        background-size: cover;
        background-repeat: none;
        background-position: top center;
        height: 120px;
        width: 120px;
        bottom: -55px;
        left: calc( 50% - 60px );
    }
    h2 { 
        color: #dedede;
        letter-spacing: 1px;
        font-size: 2rem;
        width: 100%; 
        text-align: center;
        margin-top: 3px;
        font-weight: 300;
        font-family: 'Dancing Script', cursive;
    }
}

section.content {
    min-height: calc( 100% - 315px ); // 105 + 210
    height: calc( 100% - 315px ); // 105 + 210
}

footer {
    height: 195px;
    margin-top: 15px;
    background: $darkBlack;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    box-shadow: 0 -1px 2px 0 darken(desaturate(lighten($theme--color1, 15%), 10%), 15%),
                0 -14px 0 0 $darkBlack;
    span {
        align-self: flex-end;
        padding: 10px;
    }
}

.circle-photo {
    border-radius: 50%;
    border: 4px solid $black;
}

.content-panel-container {
    height: 100%; 
    width: 100%; 
    padding: 3.8rem 4rem;
    .content-panel-menu-trigger {
        position: absolute;
        top: 83px;
        right: 75px;
        &::after {
            content:'===';
            color: $white;
        }
    }
    .content-panel { 
        background: $darkBlack;
        border: 2px solid $black;
        &.nav {
            display: none;
            &.open {
                display: block;
                width: 100%;
                min-height: 30%;
            }
            ul {
                list-style: none;
                display: flex;
                height: 100%;
                flex-direction: column;
                li {
                    height: 100%;
                    width: 100%;
                    flex: 1;
                    padding: 0.3rem 1rem;
                    color: $white;
                    &:hover {
                        background: rgba(255,255,255,0.2);
                    }
                }
            }
        }
        &.body {
            height: 100%;
            &.nav-open {
                height: 70%;
            }
        }
    }
}

@media( min-width: $breakpoint-tablet ) {
    .content-panel-menu-trigger {
        display: none;
    }
    .content-panel-container {
        padding: 3.8rem 8rem;
        display: flex;
        justify-content: space-between;
        .content-panel {
            &.nav {
                display: inline-block;
                flex: 1;
                height: 30%;
            }
            &.body {
                flex: 4;
                margin-left: 2rem;
                height: 100%;
            }
        }
    }
}

@media( min-width: $breakpoint-desktop ) {
    .content-panel-container {
        padding: 3.8rem 14rem;
    }
}